
* {
    margin: 0;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}
body {
    border: 0;
    font: 12px "Trebuchet MS";
    color: #000;
    background:#fff;
}
a{ text-decoration: none; color:#6D37B0; }
a:hover { color: #8D8D8D; }
#body{ 
    width: 1004px;
    margin: 0 auto;
    max-width: 100%;
    padding:20px 0 70px 0;
    min-height: 600px;
    height: auto;
}

#container {
    min-height:600px;
    position:relative;
}


footer {
    position: relative;
    height: 70px;
    width: 100%;
    background:#f7f7f7;
    color:#000;
}
.resultRow{width:100%; margin:2px 0; border:1px solid #8D8D8D;padding:2px; color:#000;}
.height10{clear:both;height:10px;}
.height20{clear:both;height:20px;}
.height30{clear:both;height:30px;}


.links{border:1px solid #000; padding:5px; text-decoration:none;color:#000;}
.links:hover{text-decoration:underline;color:#fff; background:#6D37B0;}
.selected{border:1px solid #000; padding:5px; text-decoration:none;color:#fff; background:#6D37B0;}
/****************************************************/

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered {
    border: solid #ccc 1px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered td, .bordered th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;    

}

.bordered th {
    background-color: #eee;
    border-top: none;
    text-align:left;
}

.bordered tbody tr:nth-child(even) {
    background: #f5f5f5;
    border:1px solid #000;

}

.bordered tbody tr:hover td {
    background: #d0dafd;
    color: #339;
}

.textboxes{ width:280px; border:1px solid #000; height:20px; }
.required{color:#F00;}